<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <th>age</th>
    <th>name</th>
    <th>sex</th>
    </thead>
    <tbody th:each="person : ${datas}">
    <tr>
        <td th:text="${person.age}">hi</td>
        <td th:text="${person.name}">hi</td>
        <td th:text="${person.sex}">hi</td>

    </tr>
    </tbody>
    <button th:if="${lock}">lock true</button>1
    <button th:unless="${lock}">lock false</button>2
    <button th:if="not ${lock}">lock false</button>3

</table>
<div th:replace="fragment :: request-param"></div>
<script type="application/javascript" th:inline="javascript">
    var a = [[${lock}]];
    console.log(a);
    var b = [[${datas}]];
    console.log(b);

</script>
</body>
</html>